* {
  box-sizing: border-box;
  /* border: red solid 2px; */
}
/* ----------
Theme:
lght: #B8BDB5
semilght: #99A59D
ntrl: #5f7470
semidrk: #435F68
drk: #2F4858
---------- */
body {
  margin: 0;
  background-color: #5f7470;
  color: #B8BDB5;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

footer {
  margin-top: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
